.words {
    position: relative;
    animation: move-words 20s linear infinite;
    margin: 0;
    color: red;
    letter-spacing: 2px;
  }
  @keyframes move-words {
    0% {
      left: 100%;
    }
    100% {
      left: -100%;
    }
  }